<h2 class="titulo">Por pais</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onBusqueda)="onBuscar($event)"
      (onDebounce)="onSugerencias($event)"
      placeholder="Buscar por pais ......"
    ></app-pais-input>
  </div>
</div>

<ul *ngIf="mostrarSugeridos === true" class="list-group">
  <li
    style="cursor: pointer"
    class="list-group-item list-group-item-action"
    *ngFor="let item of listCountrySugeridos"
  >
    <a class="nav-link" [routerLink]="['/pais', item.cca2]">
      {{ item.name.common }}
    </a>
  </li>
  <li
    (click)="onBuscarSugerido(busqueda)"
    style="cursor: pointer"
    class="list-group-item list-group-item-action"
  >
    Buscar "{{ busqueda }}"
  </li>
</ul>

<hr />

<div class="alert alert-danger" *ngIf="bandera">
  <p>No se encontro nada con la busqueda</p>
</div>

<div class="row" *ngIf="listCountry.length > 0">
  <div class="col">
    <app-pais-tabla [listCountry]="listCountry"></app-pais-tabla>
  </div>
</div>
