<div *ngIf="!pais; else verPais" class="alert alert-info">
  Por favor espera ...
</div>

<ng-template #verPais>
  <div class="row">
    <div class="col-12">
      <h2 class="titulo">
        Pais: <small> {{ pais.name.common }} </small>
      </h2>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-6">
      <h3 class="subtitulo">Bandera</h3>
      <img
        class="img-thumbnail"
        [src]="pais.flags.svg"
        [alt]="pais.name.common"
      />
    </div>
    <div class="col-6">
      <h3 class="subtitulo">Informacion</h3>
      <ul class="list-group">
        <li class="list-group-item">
          <strong class="subtitulo">Capital</strong> {{ pais.capital }}
        </li>
        <li class="list-group-item">
          <strong class="subtitulo">Continente</strong> {{ pais.continents }}
        </li>
        <li class="list-group-item">
          <strong class="subtitulo">Población</strong>
          {{ pais.population | number }}
        </li>
        <li class="list-group-item">
          <strong class="subtitulo">Codigo numerico</strong> {{ pais.ccn3 }}
        </li>
        <li class="list-group-item">
          <strong class="subtitulo">Limites territoriales</strong>
          {{ pais.borders }}
        </li>
      </ul>
    </div>

    <div class="row py-2">
      <h3 class="subtitulo">Traducciones</h3>
      <div class="col">
        <span class="badge bg-primary mr-1">{{
          pais.translations["spa"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["ara"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["ces"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["cym"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["deu"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["fin"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["fra"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["hrv"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["hun"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["ita"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["kor"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["kor"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["nld"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["per"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["pol"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["rus"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["slk"].common
        }}</span>
        <span class="badge bg-primary mr-1">{{
          pais.translations["bre"].common
        }}</span>
      </div>
    </div>
  </div>
</ng-template>
