<h2 class="subtitulo">Busquedas</h2>
<hr />
<ul class="list-group subtitulo">
  <li
    [routerLink]="['']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item"
    style="cursor: pointer"
  >
    Buscar pais
  </li>
  <li
    [routerLink]="['region']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item"
    style="cursor: pointer"
  >
    Por region
  </li>
  <li
    [routerLink]="['capital']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact: true}"
    class="list-group-item"
    style="cursor: pointer"
  >
    Por capital
  </li>
</ul>
