<h3 class="titulo">
  Buscar por region <small> {{ regionActiva }} </small>
</h3>

<h5>Seleccione la region</h5>
<div class="row">
  <div class="col">
    <button
      (click)="onActivarRegion(item)"
      *ngFor="let item of regiones"
      class="btn btn-outline-info"
      [ngClass]="{ active: regionActiva === item }"
    >
      {{ item }}
    </button>
  </div>
</div>

<div class="row" *ngIf="listCountry.length > 0">
  <div class="col">
    <app-pais-tabla [listCountry]="listCountry"></app-pais-tabla>
  </div>
</div>
